node-red/flows.json
[{"id":"2c262b64.72f374","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a626fc68.a5d52","type":"server","z":"","name":"Home Assistant"},{"id":"f48e2443.311458","type":"nefit-easy-config","z":"","serialNumber":"457014155","accessKey":"wEUmsALNRGDq6H4Q","password":"sotm1968","timeout":"30"},{"id":"b5498f18.c9e1c","type":"mqtt-broker","z":"","name":"hassio.fritz.box","broker":"hassio.fritz.box","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"/nefit/temp","birthQos":"0","birthPayload":"10","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8ce65ab.8420b8","type":"nefit-easy","z":"2c262b64.72f374","easyconfig":"f48e2443.311458","name":"Easy","topic":"nefit-easy","command":"status","value":"15","x":310,"y":380,"wires":[["f96b42c2.1a5ef"]]},{"id":"f96b42c2.1a5ef","type":"mqtt out","z":"2c262b64.72f374","name":"","topic":"nefit/status","qos":"","retain":"","broker":"b5498f18.c9e1c","x":490,"y":380,"wires":[]},{"id":"a84d5173.e641e","type":"inject","z":"2c262b64.72f374","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["f8ce65ab.8420b8"]]},{"id":"2ed0a5ea.3e65fa","type":"mqtt in","z":"2c262b64.72f374","name":"","topic":"nefit/set/temp","qos":"2","datatype":"auto","broker":"b5498f18.c9e1c","x":110,"y":480,"wires":[["701bd166.8c491"]]},{"id":"701bd166.8c491","type":"nefit-easy","z":"2c262b64.72f374","easyconfig":"f48e2443.311458","name":"Set temp","topic":"nefit-easy","command":"set-temperature","value":"","x":300,"y":480,"wires":[[]]},{"id":"82ae800f.05a22","type":"api-call-service","z":"2c262b64.72f374","name":"","server":"a626fc68.a5d52","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.alarmlichten","data":"{\"flash\": \"short\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":600,"wires":[[]]},{"id":"43efd99d.980a58","type":"mqtt in","z":"2c262b64.72f374","name":"","topic":"kios/mqtt","qos":"2","datatype":"auto","broker":"b5498f18.c9e1c","x":100,"y":600,"wires":[["82ae800f.05a22","9ccbd356.e10c7","5b679eed.02579"]]},{"id":"edff8e06.85ca7","type":"server-state-changed","z":"2c262b64.72f374","name":"","server":"a626fc68.a5d52","version":1,"entityidfilter":"group.huisgenoten","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":140,"wires":[["b226a939.9571c8"],["31009ad7.433306"]]},{"id":"b226a939.9571c8","type":"api-current-state","z":"2c262b64.72f374","name":"","server":"a626fc68.a5d52","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.slider1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":100,"wires":[["c2d21c0c.90c13"]]},{"id":"c2d21c0c.90c13","type":"nefit-easy","z":"2c262b64.72f374","easyconfig":"f48e2443.311458","name":"Set temperatuur","topic":"nefit-easy","command":"set-temperature","value":"","x":820,"y":140,"wires":[[]]},{"id":"31009ad7.433306","type":"api-current-state","z":"2c262b64.72f374","name":"","server":"a626fc68.a5d52","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.slider2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":180,"wires":[["c2d21c0c.90c13"]]},{"id":"52ef1337.1907cc","type":"http request","z":"2c262b64.72f374","name":"KioHealth","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.178.210/api/v1/system/reboot","tls":"","persist":false,"proxy":"","authType":"basic","x":300,"y":860,"wires":[[]]},{"id":"9bdddde.a035f2","type":"inject","z":"2c262b64.72f374","name":"","topic":"","payload":"","payloadType":"date","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":860,"wires":[["52ef1337.1907cc"]]},{"id":"57b13097.95149","type":"comment","z":"2c262b64.72f374","name":"kerberos.io reset","info":"Kerberos.io elke 4 uur resetten. Systeem verliest regelmatig connectie met IP camera. Resetten zorgt er voor dat de connectie weer hersteld wordt.","x":120,"y":800,"wires":[]},{"id":"351b9d83.4ae902","type":"comment","z":"2c262b64.72f374","name":"Beweging gedetecteerd op camera","info":"Bij beweging geeft camera mqtt signaal. Daarna licht laten knipperen. Staat nu ingesteld op group allarm.\n\nDaarnaast wordt de buitenverlichting aangezet als het donker is en het licht al niet schijnt.","x":180,"y":560,"wires":[]},{"id":"e2fe0bae.4c4658","type":"comment","z":"2c262b64.72f374","name":"Nieuwe instellinge doorvoeren op Nefit","info":"Als mqtt meldt dat er een nieuwe temperatuur ingesteld is dan wordt dit door dan stelt deze flow de temp in.","x":190,"y":440,"wires":[]},{"id":"77ecdf6b.6df1a","type":"comment","z":"2c262b64.72f374","name":"Status nefit bijwerken","info":"Elke 30 seconden status van de nefit bijwerken door het plaatsen van een mqtt bericht.","x":140,"y":340,"wires":[]},{"id":"b8c988d7.45ad28","type":"comment","z":"2c262b64.72f374","name":"Temperatuur zetten op aanwezighed","info":"Zet de temperatuur op gestelde temp bij niet of wel iemand thuis.","x":180,"y":80,"wires":[]},{"id":"df9b04ca.c50ad8","type":"bigtimer","z":"2c262b64.72f374","outtopic":"shellies/shelly1-2C08AA/relay/0/command","outpayload1":"on","outpayload2":"off","name":"Buitenverlichting","comment":"","lat":"53.023621","lon":"5.969913","starttime":5001,"endtime":"0","starttime2":"330","endtime2":"5000","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":920,"wires":[["60fd07ac.5cd6b8"],[],[]]},{"id":"9ccbd356.e10c7","type":"time-range-switch","z":"2c262b64.72f374","name":"Is er geen zon?","lat":"53.023621","lon":"5.969913","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":420,"y":680,"wires":[["1f963435.60586c"],[]]},{"id":"1f963435.60586c","type":"api-current-state","z":"2c262b64.72f374","name":"Licht uit?","server":"a626fc68.a5d52","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.spots_garagedeur","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":680,"wires":[["3ceb6c22.012ca4","32b2eb3f.9cec64"],["32b2eb3f.9cec64"]]},{"id":"3ceb6c22.012ca4","type":"api-call-service","z":"2c262b64.72f374","name":"","server":"a626fc68.a5d52","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.spots_garagedeur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":680,"wires":[[]]},{"id":"bd85706f.e5ea4","type":"api-call-service","z":"2c262b64.72f374","name":"","server":"a626fc68.a5d52","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.spots_garagedeur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":760,"wires":[[]]},{"id":"32b2eb3f.9cec64","type":"stoptimer","z":"2c262b64.72f374","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":700,"y":760,"wires":[["bd85706f.e5ea4"],[]]},{"id":"60fd07ac.5cd6b8","type":"mqtt out","z":"2c262b64.72f374","name":"","topic":"","qos":"","retain":"","broker":"b5498f18.c9e1c","x":290,"y":920,"wires":[]},{"id":"5b679eed.02579","type":"api-current-state","z":"2c262b64.72f374","name":"","server":"a626fc68.a5d52","version":1,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.huisgenoten","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":800,"wires":[["40276987.7f2958"],[]]},{"id":"40276987.7f2958","type":"e-mail","z":"2c262b64.72f374","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"tsien_bier@yahoo.com","dname":"","x":870,"y":820,"wires":[]}]